{{ use('yii/widgets/LinkPager') }}

<div class="site-index">
    <div class="col">
        <div class="col-lg-12">
            <h2>Customers:</h2>
            <h4>Count of Customer: {{ pagination.totalCount }}</h4>
            <table class="table table-striped">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Full name</strong></td>
                    <td><strong>Status</strong></td>
                    <td><strong>Services</strong></td>
                    <td><strong>IQ of Customer</strong></td>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.status }}</td>
                        <td>{{ Html.a(Yii.t('app', 'Services'),{
                                0: 'site/services',
                                'customer_id': customer.id,
                                'customer_name': customer.name
                            }, {
                                'class': 'btn btn-primary'
                            }) | raw }}
                        </td>
                        <td>{{ customer.additional_attributes.iq }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{# Render Link Pager #}    
{{ link_pager_widget({
    'pagination': pagination
}) }}
