<div class="site-index">
    <div class="row">
        <div class="col-lg-12">
            <h2>Services of {{ customerName }}</h2>

            <h3>Internet Services:</h3>
            <table class="table table-striped">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Status</strong></td>
                </tr>

                {% for service in internet.getInternetServices(id) %}
                    <tr>
                        <td> {{ service.id }} </td>
                        <td> {{ service.description }} </td>
                        <td> {{ service.status }} </td>
                    </tr>
                {% endfor %}
            </table>

            <h3>Voice Services:</h3>
            <table class="table table-striped">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Status</strong></td>
                </tr>

                {% for service in voice.getVoiceServices(id) %}
                    <tr>
                        <td> {{ service.id }} </td>
                        <td> {{ service.description }} </td>
                        <td> {{ service.status }} </td>
                    </tr>
                {% endfor %}
            </table>

            <h3>Custom Services:</h3>
            <table class="table table-striped">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Status</strong></td>
                </tr>

                {% for service in custom.getCustomServices(id) %}
                    <tr>
                        <td> {{ service.id }} </td>
                        <td> {{ service.description }} </td>
                        <td> {{ service.status }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
